<ion-modal-view ng-controller="ChannelEditCtrl" class="view-bg">


	<ion-header-bar>
		<div class="buttons">
	    	<button class="button button-clear" ng-click="modal.remove(); modal2.show();">Skip</button>
	 	 </div>
	  	<h1 class="title">Setup</h1>
	  	<div class="buttons">
        <button class="button button-clear minds-blue" style="color:#4690C3" ng-click="modal.remove(); modal2.show();">Done</button>
      </div>
	</ion-header-bar>

	<ion-content>

	     <div class="list">
           <label class="item item-input banner-input" ng-click="addBanner()">
               <span class="input-label">Banner</span>
               <span class="minds-blue" ng-show="bannerStatus == 0"> Tap to add a banner </span>
               <span class="" ng-show="bannerStatus == 1"> Tap to change banner </span>
           </label>
        </div>

		    <img id="avatar" ng-src="{{$root.node_url}}icon/{{$root.user_guid}}/large/{{$root.globalCB}}/{{cb}}" style="width: calc(75% - 32px); margin:16px auto; display:block; height: auto; box-shadow:0 0 3px #888;" onerror="this.src='img/avatar.png'" ng-click="changeAvatar();"/>
	       <p style="padding:0 20px; text-align:center;">Select the image above to select an avatar</p>


	</ion-content>
</ion-modal-view>
