<ion-view ng-controller="NewsfeedViewCtrl" class="view-bg">

	<ion-nav-buttons side="left">
        <a class="button button-clear icon ion-arrow-left-b" ng-click="back()"></a>
    </ion-nav-buttons>

    <ion-content >

			<div ng-controller="NewsfeedCtrl" style="margin-bottom:-42px">
			   <activity-view ng-if="::activity.guid" id="{{::activity.guid}}" class="activity-item list card" ng-controller="NewsfeedCtrl"></activity-view>
			</div>

			<!-- show comments here -->
			<ion-list>
				<div class="loading">
					<i class="icon ion-loading-d" ng-if="comments.length == 0 && inprogress"></i>
				</div>

				<div class="load-earlier" ng-click="getComments()" ng-show="hasMore">
					tap to load earlier
				</div>
				<div ng-repeat="comment in comments" class="comment-item" ng-class-future="$even ? 'odd' : 'even'">

					<a href="#/tab/newsfeed/channel/{{::comment.ownerObj.guid}}">
						<img ng-src="{{$root.node_url}}icon/{{::comment.ownerObj.guid}}/small"/>
					</a>

					<div class="content item-text-wrap" ng-show="!comment.editing" ng-bind-html="comment.description | linky" ng-click="openCommentActions(comment)">
					</div>
					<div class="content item-text-wrap" ng-show="comment.editing">
						<div class="item item-input-inset comment-item-edit">
						 	<label class="item-input-wrapper" style="background:transparent">
								<textarea placeholder="Type your comment here..." class="comment-edit-text-area" ng-model="comment.description" auto-grow>
								</textarea>
							</label>
							<button class="button button-clear" ng-click="edit(comment)">
								Save
							</button>
						</div>
					</div>
					<!--
					<div class="content item-text-wrap" ng-show="comment.editing" ng-bind-html="comment.description | linky">
					</div>
				-->
				</div>
			</ion-list>

			<div class="list card" style="clear:both;" ng-show="!editing">
				<div class="item item-input-inset">
					<textarea placeholder="Type your comment here..." ng-model="comment.body" style="flex:1; -webkit-flex:1" auto-grow>
					</textarea>
					<button class="button button-clear" ng-click="submit()">
						Comment
					</button>
				</div>
			</div>

    </ion-content>
</ion-view>
